body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    padding-top: 10px;
    margin-left: 80px;
}


.main {
    padding: 0px 10px;
}
.main a {
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 50%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: black;
}

.login-main-text h1{
    font-weight: 500;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}